/**
 * Site header
 */
.site-header {
  border-top: 5px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;
  min-height: $spacing-unit * 1.865;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  font-family: "PT Serif", Cambria, Georgia, serif;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  // @extend %clearfix;
}

.footer-col {
  margin-bottom: $spacing-unit / 2;
}

.footer-col-copyright {
  text-align: right;
  width: 50%;
}

.footer-note {
  padding-bottom: 15px;
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  padding-top: 20px;
  flex: 1;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
    @include relative-font-size(1.75);
    text-align: center;
    border-bottom: 1px solid $grey-color-light;
    padding-bottom: $spacing-unit/2;
}
  
.post-list {
    margin-left: 0;
    list-style: none;
    margin-bottom: $spacing-unit;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;

  > li a {
    font-weight: bold;
  }
}

.post-list-item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    padding: 20px;
    flex-basis: 30rem;
    margin: 5px;
}

.post-list-item:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
    text-decoration: unset;
}
  
.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
    // float: right;
    padding-left: 8px;	
    display: inline-block;
    text-align: center;
}
  
.post-text {
    display: inline-block;
    @include relative-font-size(1.04);
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit * 0.5;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}
.tiles {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.tile {
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  padding: 20px;
  flex-basis: 30rem;
  text-align: center;
  margin: 5px;
}

.tile:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
  text-decoration: unset;
}

.tile-icon {
  width: 12rem;
}

.tile-text {
  padding-top: 20px;
  font-size: large;
  font-weight: bold;
  color: rgb(38, 51, 51);
}

/**
* Home Page
*/
.home-header {
    position: relative;
    text-align: center;
}
.home-header-image {
    width: 100%;
    height: 210px;
    margin-bottom: 10px;
}

.home-header-text {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 88px;
}

.home-header-title {
    font-size: 6vmax;
    // font-size: 6vw;
    color: $background-color;
    font-family: 'Cookie', Arial, Helvetica, sans-serif;
}

.home-header-subtitle {
    top: 100px;
    color: rgb(252, 208, 14);
    // font-size: 3vmin;
    font-size: 3vh;
    background-color: black;
    padding-top: 5px;
    padding-bottom: 5px;
}

